:root {
  --card-radius: 20px;
  --card-border-width: 2px;
  --card-border-gap: 5px;

  --card-border-size: calc(var(--active-card-size) + (var(--card-border-width) + var(--card-border-gap)) * 2);
  --card-border-offset: calc(0px - (var(--card-border-width) + var(--card-border-gap)));
}

@keyframes gameImgFadeInNext {
  0% {
    opacity: 0;
    transform: translateX(40px) scale(0.99);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

@keyframes gameImgFadeInPrev {
  0% {
    opacity: 0;
    transform: translateX(-40px) scale(0.99);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

@keyframes gameImgFadeOut {
  100% {
    opacity: 0;
  }
}

.play-container {
  position: absolute;
  bottom: 350px;
  left: 200px;
  color: white;
  white-space: nowrap;
  font-weight: bold;

  h1 {
    font-size: 3.2rem;
    line-height: 1.1;
    margin: 0;
  }
  @keyframes playFadeIn {
    from {
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes playFadeOut {
    to {
      opacity: 0;
      transform: translateY(40px);
    }
  }
  --fade-in-delay: 0.5s;
  --fade-in-animation: playFadeIn 0.3s ease;
  --fade-out-animation: playFadeOut 0.1s ease;

  .play-btn {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    width: 240px;
    height: 50px;
    color: white;
    background: rgba(100, 112, 136, 0.3);
    border-radius: 30px;
  }
}

.game-bg-container {
  position: absolute;
  width: 105%;
  height: 105%;
  right: 0;


  --fade-in-delay: 0s;
  --fade-out-delay: 0.1s;
  --fade-out-animation: gameImgFadeOut 0.3s ease;

  &.next {
    --fade-in-animation: gameImgFadeInNext 0.5s ease;
  }

  &.prev {
    --fade-in-animation: gameImgFadeInPrev 0.5s ease;
  }

  .game-bg {
    z-index: 100;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    opacity: 1;
    &:after {
      content: '';
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: auto;
      height: auto;
      position: absolute;
      background: linear-gradient(20deg, rgba(0,0,0,1), rgba(0,0,0,0));
      z-index: 10;
    }
  }
}


@keyframes testFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes testFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.game-card-title {
  z-index: 50;
  color: white;
  font-size: 2rem;
  white-space: nowrap;

  --fade-in-animation: testFadeIn 0.5s ease;
  --fade-out-animation: testFadeOut 0.5s ease;
}

.ps5-container {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.games-list-container {
  z-index: 40;
}

