.game-card {

  transition: all 0.15s ease-out;
  will-change: transform;

  width: var(--card-size);
  height: var(--card-size);

  @keyframes fadeInDelayed {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    40% {
      transform: scale(0.95);
      opacity: 0.1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes lightRay {
    0%{
      background-position: 100% 100%;
      opacity: 0;
    }
    10% {
      opacity: 0.3;
    }
    70% {
      opacity: 0.3;
    }
    100%{
      background-position: 0 0;
      opacity: 0;
    }
  }

  .game-card-img {
    position: absolute;
    border-radius: 14%;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 20;
  }

  &.active {
    width: var(--active-card-size);
    height: var(--active-card-size);

    .animated-border {
      opacity: 1;
    }
    .game-card-img {
      &:after {
        content: '';
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(-45deg, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0.5) 30%,  rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 70%);
        background-size: 200% 200%;
        animation: lightRay 3s ease forwards;
      }
    }
  }

  .animated-border {

    @keyframes gradientOffset {
      0%{
        background-position: 0 100%;
      }
      40% {
        background-position: 0 0;
      }
      100%{
        background-position: 0 100%;
      }
    }

    position: absolute;
    left: var(--card-border-offset);
    right: var(--card-border-offset);
    top: var(--card-border-offset);
    bottom: var(--card-border-offset);

    width: var(--card-border-size);
    height: var(--card-border-size);
    background: linear-gradient(15deg, rgba(255,255,255, 0) 10%, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 90%);
    opacity: 0;
    animation: fadeInDelayed 0.3s ease-out forwards, gradientOffset 24s linear infinite;
    background-size: 200% 400%;
    z-index: 120;
    mask: url("/border.svg") center / contain no-repeat;
    -webkit-mask: url("/border.svg") center / contain no-repeat;
  }
}
